{% load static %}
<!DOCTYPE html>
<html lang="PT-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
  <title>HOME</title>
</head>

<body class="header-container">
  <header>
    <div>
      <h1>PINTURA AUTOMOTIVA</h1>
    </div>
    <div>
      <h1>ADMINISTRATIVO</h1>
    </div>

  </header>

  <main>
    <a href="{% url 'home' %}" class="btn btn-primary">Página de cadastro</a>
    <a href="{% url 'clientes' %}" class="btn btn-primary">Página de clientes</a>
    <a href="{% url 'insumos' %}" class="btn btn-primary">Página de insumos</a>
    <a href="{% url 'initial' %}" class="btn btn-primary">Home</a>
  </main>

</body>

</html>