{% load static %}

<div class="container">
  <h1>Cadastro de Clientes</h1>

  <main>
    <a href="{% url 'home' %}" class="btn btn-primary">Página de cadastro</a>
    <a href="{% url 'clientes' %}" class="btn btn-primary">Página de clientes</a>
    <a href="{% url 'insumos' %}" class="btn btn-primary">Página de insumos</a>
    <a href="{% url 'initial' %}" class="btn btn-primary">Home</a>
  </main>

  
  <form  action="{%url 'clientes'%}" method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="id_nome">Nome:</label>
      <input type="text" id="id_nome" name="nome" required>
    </div>
    <div>
      <label for="id_idade">Idade:</label>
      <input type="text" id="id_idade" name="idade" required>
    </div>
    <div>
      <label for="id_foto">Foto:</label>
      <input type="file" id="id_foto" name="foto" accept="image/*" required>
      <img id="preview" src="#" alt="Preview da Imagem" style="display: none; max-width: 200px; max-height: 200px;">
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>

<script>
  // Função para pré-visualizar a imagem antes de enviá-la
  function previewImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        document.getElementById('preview').style.display = 'block';
        document.getElementById('preview').src = e.target.result;
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  // Event listener para chamar a função de pré-visualização quando o usuário seleciona uma imagem
  document.getElementById('id_foto').addEventListener('change', function() {
    previewImage(this);
  });
</script>
