<!DOCTYPE html>
<html lang="PT-br">



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<h1>Insumos</h1>
<main>
  <a href="{% url 'home' %}" class="btn btn-primary">Página de cadastro</a>
  <a href="{% url 'clientes' %}" class="btn btn-primary">Página de clientes</a>
  <a href="{% url 'insumos' %}" class="btn btn-primary">Página de insumos</a>
  <a href="{% url 'initial' %}" class="btn btn-primary">Home</a>
</main>

<body>


</body>

</html>